section  p {
	text-align:left;
	background-color:yellow;
	border:3px solid black;
}
section > h1 {
	text-align:center;
	text-decoration:underline;
	font-size:30px;
}
div + h6 {
	background-color:powderblue;
}
div ~ h5 {
	background-color:pink;
}
a {
	text-align:center;
	text-decoration:none;
	font-size:67px;
}